/*Langing page styling BEGIN*/
body{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #451404;
}
#container{
	margin: 0 auto;
	padding: 0;
}
.landing{
	width: 80%;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	color: #ede8e4;
}
.imageFix{
	max-width: 60%;
	padding-left: 230px;
	margin-bottom: 20px;
}
h1{
	font-family: 'Great Vibes', cursive;
	font-size: 80px;
	text-align: center;
	padding-top: 60px;
	color: #9e918c;
}
h2{
	text-align: center;
	padding-bottom: 20px;
	font-weight: lighter;
}
form{
	text-align: center;
	padding-bottom: 20px;
}
input{
	display: inline-block;
	padding: 10px;
	margin: 0 0 10px 10px;
}
form a{
	display: inline-block;
	color: #9e918c;
	vertical-align: text-bottom;
}
.passSet{
	padding-left: 10px;
	font-size: 12px;
}
#signUp a{
	display: inline-block;
	color: #e86f41;
}
.button{
	padding: 6px 20px;
	background-color: #e86f41;
	color: #ede8e4;
	border: 1px solid #9e918c;
}
footer{
	margin: 0 auto;
	padding: 0;
}
footer p{
	padding: 80px;
	text-align: center;
	background-color: #a08d70;
	font-family: 'Source Sans Pro', sans-serif;
	color: #ede8e4;
	margin: 0 auto;
}
/*Landing page styling END*/

/*Success page styling START*/
.success{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	color: #ede8e4;
	padding: 220px 0;
}
.success a{
	color: #e86f41;
}
/*Success page styling END*/

/*Register page styling START*/
.tagline{
	position: absolute;
	top: 0;
	left: 200px;
}
.regHeading{
	font-family: 'Source Sans Pro', sans-serif;
	color: #9e918c;
	padding: 80px 0 40px 0;
	background-color: #ede8e4;
	width: 50%;
	margin: 0 auto;
}
.regHeading h2{
	padding-bottom: 20px;
}
.regHeading a{
	background-color: #e86f41;
	padding: 5px 10px;
	color: #ede8e4;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 1045px;
}
.regHeading p{
	padding-left: 175px;
	color: #ab221f;
}
.regHeading form{
	text-align: right;
	padding: 0 190px 20px 0; 
}
.regHeading input{
	width: 250px;
}
#regButn{
	margin-top: 5px;
	width: 75px;
}
/*Register page styling END*/

/*User home page styling START*/
.comHide, .quoteHide{
	display: none;
}
.quoteHide{
	padding-top: 50px;
}
.quoteToggle{
	background-color: #e86f41;
	text-align: center;
	color: #ede8e4;
	font-size: 12px;
}
#logo{
	font-family: 'Great Vibes', cursive;
}
.comFix{
	max-width: 2.5%;
}
.logout{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #e86f41;
	padding: 5px 10px;
	color: #ede8e4;
	text-decoration: none;
	position: absolute;
	top: 10px;
	left: 1355px;
}
.greeting{
	font-family: 'Source Sans Pro', sans-serif;
	color: #9e918c;
	text-align: left;
	padding: 0 0 0 140px;
}
.greeting span{
	color: #ede8e4; 
}
.dailyQuote{
	margin: 0 0 10px 0;
	background-color: #ede8e4;
	color: #451404;
	font-size: 20px;
	padding: 40px 0;
}
.quote{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	background-color: #ede8e4;
	margin: 0 0 30px 140px; 
	width: 80%; 
}
.quote h3{
	color: #451404;
	background-color: #a08d70;
	padding: 10px 0;
	margin-bottom: 0;
}
.dailyComments{
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid #451404;
	width: 60%;
	margin-left: 220px;
	font-size: 14px;
}
.dailyComments em{
	color: #e86f41;
	float:  right; 
}
.commentBox{
	width: 50%;
}
.tableBack{
	background-color: #ede8e4;
	width: 80%;
	text-align: center;
	margin-left: 140px;
}
.spotlight{
	width: 80%;
	background-color: #ede8e4;
	margin: 0 0 0 140px;
}
.spotBox{
	width: 33%;
	display: inline-block;
	background-color: #ede8e4;

	padding: 0;
	margin-bottom: 40px;
}
.spotBox a{
	font-family: 'Source Sans Pro', sans-serif;
	display: block;
	text-decoration: none;
	padding: 10px;
}
.spotHeading{
	background-color: #a08d70;
	color: #451404;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center; 
	margin-top: 0;
	padding: 10px 0;
}
.favorites, .quotes{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	padding: 10px;
}
.favLogo{
	width: 2.5%;
	float: left;
	padding-left: 20px;
}

#comToggle{
	text-decoration: none;
	vertical-align: text-bottom;
}
/*User home page styling END*/

/*User update page styling START*/
.pageHeading{
	text-align: center;
}
.userUpdate{
	font-family: 'Source Sans Pro', sans-serif;
	color: #9e918c;
	padding: 80px 0 40px 0;
	background-color: #ede8e4;
	width: 50%;
	margin: 0 auto;
}
.userUpdate form{
	text-align: right;
	padding: 0 200px 20px 0; 
}
.userUpdate input{
	width: 250px;
}
.lineUp{
	padding-left: 200px;
	color: #451404;
}
.userUpdate a{
	background-color: #e86f41;
	padding: 5px 10px;
	color: #ede8e4;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 1045px;
}
.home{
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	position: absolute;
	left: 670px;
	top: 300px;
}
/*User update page styling END*/

